main {
  margin: 0 auto;

  .pokeimage {
    image-rendering: pixelated;

    &.undescovered {
      filter: brightness(0%);
    }
  }

  .pokejumbo {
    h3 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 0.15em;
    }

    .pokeimage {
      width: 300px;
      height: 300px;
    }
  }

  .pokecard {
    display: flex;

    h4 {
      text-transform: capitalize;
    }

    img {
      vertical-align: middle;
    }

    &.undescovered {
      &::after {
        content: '???';
      }

      div {
        display: none;
      }
    }

    footer span {
      background-color: black;
      color: white;
      font-size: 0.5em;
      padding: 0.25em 0.5em;
      border-radius: 3px;
      margin-right: 0.6em;
    }

    span.poison {
      background-color: purple;
    }

    span.fire {
      background-color: red;
    }

    span.fighting {
      background-color: brown;
    }

    span.steel {
      background-color: grey;
    }

    span.electric {
      background-color: yellow;
      color: black;
    }

    span.water {
      background-color: blue;
    }

    span.grass {
      background-color: green;
    }

    span.fairy {
      background-color: pink;
      color: black;
    }

    span.ground {
      background-color: tan;
      color: black;
    }

    span.psychic {
      background-color: darkmagenta;
    }

    span.bug {
      background-color: lime;
      color: black;
    }
  }

  header {
    height: 96px;

    button {
      background: blue;
      color: white;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      padding: 0.5em 1em;
      cursor: pointer;
      outline: none;
      margin-right: 0.5em;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  section {
    display: flex;

    .pokecard {
    }
  }

  aside .pokecard {
    float: left;
    height: 96px;
    width: 200px;
  }

  .letters {
    padding: 0.5em;
    max-width: 445px;

    button {
      text-transform: uppercase;
      font-size: 2em;
      border-radius: 5px;
      background-color: blue;
      color: white;
      display: inline-block;
      width: 1.5em;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &[disabled] {
        pointer-events: none;
        background-color: grey;
      }
    }
  }
}
